// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: none;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      // Default
      outline: none;
      // WebKit
      outline: none;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(none);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

  // [converter] extracted a& to a.btn
}

a.btn.btn-primary,
.btn.btn-primary {
  &:hover,
  &:focus,
  &.focus {
    color: #ffffff;
    background-color: #c13a27;
    border-color: #c13a27;
  }
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

.btn-ticket {
  background-color: $ticket-color;
  color: #fff;

  &:hover,
  &:focus,
  &.focus {
    background-color: #df8326;
    color: #fff;    
  }

  i.fa-plus {
    display: inline-block;
    margin-left: 10px;
  }
}

.btn-update {
  background-color: $updates-header-color;

  &:hover,
  &:focus,
  &.focus {
    background-color: #7abbba;
    color: #fff;    
  }

}