// Base theme colors

$body-bg-color: #062d43;
$floorplan-bg-color: #062d43;

// Text colors
$panel-text-color: #FFFFFF;
$floorplan-text-color: #0E3657;
$default-text-color: #FFFFFF;
$link-hover-color: #7E7A6E;

//Floor colors
$floor-device-marker-color: #F6C405;
$floor-alert-marker-color: #CC3332;


//App/global header colors
$header-bg-color: #EFEDE1;
$header-txt-color: #FFFFFF;
$header-icon-color: #09273A;

//Panel header colors
$devices-header-color: #4983ae;
$devicedetails-header-color: #4983ae;
$updates-header-color: #4983ae;
$alerts-header-color: #4983ae;
$efficiency-header-color: #4983ae;
$tickets-header-color: #4983ae;

//Device list colors
$device-list-group-color: #b4a56c;
$device-list-group-hover: #a38a5e;
$device-list-text-color: #09273A;
$device-info-bg-color: #EFEDE1;

//Dashboard colors
$dashboard-bg-color: #FFFFFF;

// Common "Page" colors
$pages-bg-color: #EFEDE1;
$pages-headline-color: #FFFFFF;
$pages-txt-color: #FFFFFF;

// concrete = #EFEDE1
// darker = #7E7A6ES
// orange = #F6C405
// common blue  == #0E3657
// common dark blue == #09273A
// medium dark blue == #031F2C


$wht: #ffffff;
$blk: #000000;

$ticket-color: #faa21b;

$device-alert-color: #E35E45;

$modal-header-bg-color: #062d43;
$modal-header-title-color: #062d43;
$modal-header-text-color: #FFFFFF;
$modal-body-bg-color: #FFFFFF;
$modal-body-text-color: #FFFFFF;
$console-bg-color: #000000;
$console-text-color: #FFFFFF;
