// COMMON LAYOUT STYLES
/*
NOTE: App uses the Bootstrap framework
The CSS grid has been set to use a 16 column grid with 10px margins
*/

html {
    font-size: 62.5%;
}

body {
    background-color: $body-bg-color;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}

a:link,
a:visited {
    color: #e35e45;
}

a:hover,
a:active {
    color: #f7ad2a;
}

.app-container {
    max-width: 1280px;
    position: relative;
}


/*----------  Header styles  ----------*/

.app-header {
    background-color: $body-bg-color;
    color: $header-txt-color;
    padding: 24px 0 15px;
    height: 90px;
    > .app-container {
        position: relative;
    }
    .company-branding {

        .company-title {
            text-transform: uppercase;
            @include open-sans-bold;
            @include fontSize(17px);
            @include lineHeight(20px);
            letter-spacing: 1px;
            color: $header-txt-color;
            padding: 0;
            margin: 0 0 6px;
        }
        .company-tagline {
            @include fontSize(14px);
            letter-spacing: 1px;
            color: #B0D2D3;
            padding: 0;
            margin: 0 0 10px;
        }
    }
    .user-actions {
        float: right;
        overflow: hidden;
        display: inline-block;
        margin-top: 8px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                text-transform: uppercase;
                @include fontSize(13px);
                @include lineHeight(15px);
                letter-spacing: 1px;
                border-right: 1px solid $wht;
                padding-left: 10px;
                padding-right: 10px;
                cursor: pointer;

                &:hover {
                      color: $link-hover-color;
                    }

                a,
                span {
                    text-transform: uppercase;
                    @include fontSize(13px);
                    @include lineHeight(15px);
                    letter-spacing: 1px;
                    cursor: pointer;

                    &:hover {
                      color: $link-hover-color;
                    }
                }
                i.fa {
                    display: inline-block;
                    margin-right: 6px;
                    vertical-align: baseline;
                }
            }
            li:last-child {
                border-right: none;
            }
        }
    }
}

.dashboard-tab {
    width: 62px;
    height: 52px;
    position: absolute;
    background-color: #1f2e3a;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    top: -5px;
    left: 0px;
    z-index: 10;
    cursor: pointer;

    .dashboard-icon {
        position: absolute;
        width: 38px;
        height: 38px;
        border-radius: 19px;
        background-color: #0E3657;
        top: 50%;
        margin-top: -19px;
        right: 7px;
        text-align: center;
        padding: 6px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.4s;
        > img {
            width: 25px;
            height: 25px;
            display: block;
            margin: 0 auto;
            cursor: pointer;
        }

    }
    &:hover .dashboard-icon {
      box-shadow: 0 0 0 5px rgba(255,255,255,0.2);
    }
}


/*----------  /end Header styles  ----------*/


/*----------  Main Devices and floor map styles  ----------*/

.app-column {
    height: 90vh;
}

.app-devices-main {
    float: left;
    width: 100%;
    transition: all 0.6s ease;
}

.app-device-details {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    padding-left: 20px;
    float: right;
    transition: height 0.2s ease, visibility 0.4s ease 0.2s, width 0.4s ease 0.2s, opacity 0.4s ease 0.2s;
}

.app-devices-main.device-open {
    float: left;
    width: calc(100% - 300px);
}

.app-device-details.device-open {
    width: 300px;
    height: 90vh;
    max-height: 100%;
    float: right;
    display: block;
    visibility: visible;
    opacity: 1.0;
    overflow: visible;
}

.col-device-list {
    width: 230px;
    padding: 0 10px;
    float: left;
}

.col-location-map {
    width: calc(100% - 300px);
    padding: 0 10px;
    float: left;
}


/*----------  Floor map tooltips  ----------*/

.tooltip.floor-map-label {
    margin-top: -10px;
    .tooltip-inner {
        background-color: #fff;
        color: #0E3657;
        border-radius: 0px;
        padding: 5px 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        min-width: 200px !important;
    }
    .tooltip-arrow {
        border-width: 8px 9px 0;
        border-top-color: #fff;
        bottom: -2px;
        margin-left: -8px;
    }
}

.tooltip.floor-map-label.in {
    opacity: 1;
}


/*----------  Alerts  ----------*/

.device-alert {
    color: $device-alert-color;
}

.device {
    .device-alert {
        background-image: url('../images/devices/status-alert-icon.svg');
        background-position: 3px 8px;
        background-repeat: no-repeat;
    }
}

.device-details-main {
    .device-alert {
        @include fontSize(14px);
        @include lineHeight(18px);
        background-image: url('../images/floor-map/alert-icon.svg');
        background-position: 0px 5px;
        background-repeat: no-repeat;
        padding-left: 36px;
        background-size: 26px 26px;
        min-height: 36px;
    }
}


/*----------  Listing Page common styles  ----------*/

.app-page-bg {
    background-color: $pages-bg-color;
    /* height: 90vh; */
}

.app-page {
    color: $pages-txt-color;
    margin: 0 auto;
    padding: 20px 0;
    width: 75%;
    max-width: 930px;
    min-width: 728px;
    h1,
    h2,
    h3 {
        color: $pages-headline-color;
    }
}

.panel {
    border: none;
}

.panel.new-item-panel {
    color: $default-text-color;
    .panel-heading {
        color: $wht;
        background-color: $updates-header-color;
        text-transform: uppercase;
        @include open-sans-sBold();
        letter-spacing: 1px;
        border-bottom: none;
    }
    .panel-body {
        padding: 2.4rem 36px;
    }

}

.listing-table {
    /* margin-bottom: 3.6rem; */
    border-bottom: 1px solid $table-border-color;
    /* width: calc( 100% - 6px); */
    margin-bottom: 0;
    caption {
        @include open-sans-sBold();
        color: $wht;
        padding-left: 20px;
    }
    tbody {
        tr {
            td {
                vertical-align: middle;
            }
            td:nth-child(0n+1) {
                padding-left: 20px;
            }
            td:last-child {
                padding-right: 0px;
            }
        }
    }
}
.ticket-scroller{
    /* height: 320px;
    overflow-y: scroll;*/
    margin-bottom: 20px;
}
/*----------  Background Overlay  ----------*/

.background-overlay {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;

  &.on {
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
  }
}

/*----------  Modal Styles  ----------*/

// below vertically centers the modal
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-dialog {

  .modal-header {
    background-color: $modal-header-bg-color;
    color: $modal-header-text-color;
    border-bottom: none;
    text-align: center;
    @include fontSize(16px);
    @include lineHeight(16px);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem 15px;
  }

  .modal-body {
    background-color: $modal-body-bg-color;
    color: $modal-body-text-color;
  }
}


/*----------  Progress Bars  ----------*/

.progress {
    height: 1.4rem;
    line-height: 1.4rem;
    border-radius: 7px;
    box-shadow: none;
    .progress-bar {
        border-radius: 7px;
    }
}

/*--------------------------------------------------
          Loading cover and animation
          for individual panes/panels
----------------------------------------------------*/
// position relative should be set on parent element

.loader {
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  transition: all 0.3s;
  top: 0;
  left: 0;
}

.loader.loading {
  display: block;
  width: auto;
  height: auto;
  visibility: visible;
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 199;
}

.loader:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background-image: url(../images/spin-loader.svg);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 200;
}


/*----------  Utility classes  ----------*/

.shadow-left-edge {
    box-shadow: -16px 0px 30px -10px rgba(0, 0, 0, 0.9);
}

.shadow-right-edge {
    box-shadow: 16px 0px 30px -10px rgba(0, 0, 0, 0.9);
}

.rotate,
.updating {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
