/*
File Description:
This is the base LESS file to use fonts in the project.
*/
@mixin open-sans-light {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

@mixin open-sans-normal {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
}

@mixin open-sans-sBold {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
}

@mixin open-sans-bold {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
}

