label {
	font-weight: 400;
	text-align: left;
}

.form-horizontal {
	.row.form-row {
		margin-bottom: 2rem;
	}
}

select.select-styled {
  cursor: pointer;
  @include open-sans-normal();
  border: 1px solid #d1d3d4;
  height: 26px;
  background-color: $wht;
  color: #676868;
  background-image: url(../images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  padding: 0 40px 0 10px;
  box-shadow: none !important;
  width: 100%;
}

select.select-styled::-ms-expand {
    display:none;
}

input[type=checkbox].checkbox-styled {
	border: 1px solid #d1d3d4;
}

textarea.textarea-styled {
	border: 1px solid #d1d3d4;
	box-shadow: none;
}

select:focus,
select.form-control:focus
textarea:focus,
textarea.form-control:focus {
	box-shadow: none;
}