@mixin panel-hdr-styles {
	padding: 10px 10px;
	text-align: center;
	border-bottom: 1px solid $wht;
	color: $wht;
	text-transform: uppercase;
	@include open-sans-bold;
	font-size: 15px;
	line-height: 17px;
}

@function calcRem($size) {
  $remSize: $size / 10px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calcRem($size);
}

@mixin lineHeight($size) {
  line-height: $size; //Fallback in px
  line-height: calcRem($size);
}