.console-modal {
		.modal-dialog {
				.modal-header {
						.modal-controls {
								display: inline-block;
								float: left;
								padding-right: 30px;
								> div {
										width: 16px;
										height: 16px;
										color: $wht;
										border-radius: 8px;
										display: inline-block;
										float: left;
										text-align: center;
										background-color: $modal-header-bg-color;
										@include fontSize(16px);
										@include lineHeight(18px);
										margin-right: 5px;
										cursor: pointer;

										.fa {
											@include fontSize(16px);
											@include lineHeight(18px);
										}
								}

						}

						.modal-title {
							display: inline-block;
							margin-left: -63px;
						}
				}
				.modal-body {
						background-color: #fff;

						.console-input {
								margin-top: -15px;
								margin-left: -15px;
								margin-right: -15px;
								padding: 0 5px 15px 5px;
								color: $wht;
								background-color: $modal-header-bg-color;
						}

						.device-name {
							@include lineHeight(20px);
						}

						.console-output {
							padding: 1.5rem 0 0 0;

							textarea {
								margin-top: 1rem;
								clear: both;
								width: 120%;
								height: 300px;
								padding: 1rem 10px;
								@include fontSize(10px);
								@include lineHeight(16px);
								@include open-sans-normal();
								background-color: $console-bg-color;
								color: $console-text-color;
							}
						}

				}
		}
}

.modal-backdrop.in {
  opacity: 0.6;
}
