.dashboard {
		position: absolute;
		top: -90px;
		left: 0px;
		bottom: 0px;
		width: 0;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		background-color: #031f2c;
		z-index: 1000;
		padding-bottom: 90px;
		transition: width 0.6s ease, visibility 0.3s ease, opacity 0.4s ease;

		.dashboard-hdr {
				height: 80px;
				width: 100%;
				padding: 2.6rem 20px 2.6rem 26px;
				min-width: 400px;
		}
		.db-nav {
				text-align: right;

				.db-controls {
					display: inline-block;
					width: 40px;
					height: 40px;
					float: right;
					text-align: center;
					color: #fff;
					border: 1px solid #fff;
					border-radius: 20px;
					margin-left: 12px;
					background-color: #031f2c;
					cursor: pointer;
					position: relative;
					transition: all 0.3s ease;

					&:hover {
							color: #E35E45;
							border-color: #E35E45;
					}

					&:before {
						transition: all 0.3s ease;
					}

					&:hover::before {
						color: #E35E45 !important;
					}

					&.reversed-color {
							background-color: $wht;
							color: #031f2c;
							&:hover {
									background-color: #E35E45;
							}
					}

				}

				#dbCollapse,
				#dbExpand {

						&:before {
							content: "";
							display: block;
							position: absolute;
							top: 0px;
							left: 0px;
							z-index: +1;
							width: 100%;
							height: 100%;
							border-radius: 19px;
							color: $wht;
							font-family: FontAwesome;
							@include fontSize(18px);
							line-height: 40px;
							font-weight: 400;
							text-align: center;
					}
				}

				#dbCollapse {
					&:before {
						content: "\f053";
						left: -2px;
					}
				}
				#dbExpand {
					&:before {
						content: "\f054";
						text-indent: 2px;
					}
				}

				#dbUser,
				#dbSettings {
						@include fontSize(26px);
						@include lineHeight(37px);
				}
		}

}

.dashboard-main {
		overflow-y: auto;
		height: 100%;
		padding: 0 10px 0 10px;
		// styles added below added to transition between
		// summary and full detail views
		visibility: hidden;
		opacity: 0;
}

// Control Panel section styles
.db-section {
		background-color: $wht;
		margin-bottom: 10px;

		.db-section-hdr {
				padding: 0.8rem 20px 0.8rem 35px;
				position: relative;
				@include open-sans-bold();
				text-transform: uppercase;
				color: #fff;
				background-color: #a7a9ac;
				.db-expand-icon {
						position: absolute;
						width: 25px;
						height: 100%;
						top: 0;
						left: 0;
						bottom: 0;
						&:before {
								content: "";
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 8px 6.5px 0 6.5px;
								border-color: #FFFFFF transparent transparent transparent;
								position: absolute;
								top: 50%;
								left: 7px;
								margin-top: -4px;
								z-index: +1;
						}
				}
				&.collapsed {
						.db-expand-icon:before {
								content: "";
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0px 6.5px 8px 6.5px;
								border-color: transparent transparent #FFFFFF transparent;
								position: absolute;
								top: 50%;
								left: 7px;
								margin-top: -4px;
								z-index: +1;
						}
				}
				.db-page-link {
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						width: 30px;
						height: 100%;
						z-index: 10;
						cursor: pointer;
						color: #fff;

						i {
							position: absolute;
							top: 50%;
							right: 5px;
							margin-top: -8px;
							@include fontSize(14px);
							@include lineHeight(16px);
						}
				}
		}
		.db-section-subhdr {
				padding: 1rem 10px 0.8rem 12px;
				@include fontSize(13px);
				@include lineHeight(15px);
		}
		.db-section-content {
				width: 100%;
				overflow-y: scroll;
				padding-right: 2px;
				background-color: $wht;
		}

		.db-section-content.in {
			height: 155px !important;
		}

		.db-item {
				@include fontSize(12px);
				@include lineHeight(13px);
				padding: 1.2rem 10px 1.2rem 12px;
				overflow: hidden;
				border-top: 1px solid #EBEBEB;
				box-shadow: inset 0px -3px 3px -2px #f3f3f4;
				background: #ffffff;
				/* Old browsers */
				background: -moz-linear-gradient(top, #f3f3f4 0%, #ffffff 40%);
				/* FF3.6-15 */
				background: -webkit-linear-gradient(top, #f3f3f4 0%, #ffffff 40%);
				/* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #f3f3f4 0%, #ffffff 40%);
				/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f4', endColorstr='#ffffff', GradientType=0);
				/* IE6-9 */
				.db-item-info {
						width: 68%;
						float: left;
						padding-right: 10px;
						.info-message-title {
								margin-bottom: 5px;
								width: 100%;
						}
						.info-meta {
								width: 100%;
						}

				}
				.db-item-actions {
						width: 32%;
						float: left;
						padding-top: 0.2rem;
						text-align: right;
						.btn {
								width: 70px;
								font-size: 1.1rem;
								line-height: 1.4rem;
								@include open-sans-normal();
								padding: 0.4rem 12px 0.4rem 12px;
						}
				}

			.info-emphasis {
				color: #e35e45;
			}

		}
}

.db-device-list {
		.db-section-hdr {
				background-color: $devices-header-color;
		}
		// Device list styles in _devices-list.scss
}

// Styles specific to Alerts section
.db-alerts {
		.db-section-hdr {
				background-color: $alerts-header-color;
		}
		.db-item {
				.db-item-info {
						width: 75%;

						.info-message-title.device-alert {
							background-image: url(../images/icons/alert-icon.svg);
							background-position: right 0px;
							background-size: 14px 14px;
							background-repeat: no-repeat;
							padding-right: 22px;
							@include lineHeight(14px);
						}

						.alert-meta {
								display: block;
								max-width: 78%;
								float: left;
								color: #939598;
								padding-right: 6px;
								border-right: 1px solid #939598;
						}
						.alert-time {
								display: block;
								float: left;
								margin-left: 5px;
								color: #0e3657;
						}
				}
				.db-item-actions {
						width: 25%;
						.btn-ticket {
								font-size: 1.2rem;
								@include open-sans-normal();
								padding: 0.4rem 12px 0.4rem 23px !important;
								background-image: url(../images/icons/wrench-icon.svg);
								background-position: 7px 50%;
								background-repeat: no-repeat;
								background-size: 12px 12px;
						}
				}
		}
}

// Styles specific to the Updates section
.db-updates {
		.db-section-hdr {
				background-color: $updates-header-color;
		}

		.db-section-content {
			background-color: $wht;
		}
		.db-item {
				border-top: none;
				background: #f1f2f2 !important;
				padding: 1.2rem 6px 0.6rem 12px;
				min-height: 55px;
				margin: 0 5px 1rem 12px;
				position: relative;
				// box-shadow: inset 0px 0px 4px #EAEBEB;


				.db-item-actions {
						padding-top: 15px;
						.btn-update {}
				}
				.db-update-close {
						position: absolute;
						top: 4px;
						right: 0px;
						width: 20px;
						height: 20px;
						font-size: 1.2rem;
						line-height: 2rem;
						cursor: pointer;
				}
				.db-update-close:hover {
					color: $link-hover-color;
				}
		}
}

// Styles specific to the Tickets section
.db-tickets {
		.db-section-hdr {
				background-color: $tickets-header-color;
		}
		.db-item {
			cursor: pointer;

				.db-item-actions {
						.ticket-date {
								width: 90px;
								text-align: center;
								display: inline-block;
								padding: 0.4rem 10px;
								font-size: 1.1rem;
  							line-height: 1.4rem;
								background-color: #f1f2f2;
						}
				}
		}
}

// Styles specific to the Efficiency section
.db-efficiency {

		.db-section-hdr {
				background-color: $efficiency-header-color;
		}

		.db-section-content {
			background-color: $wht;
		}

		.db-section-content.in {
			height: 275px !important;
			max-height: 275px !important;
		}

		.efficiency-graph-title {
				padding: 1em 10px 0 35px;
				color: #b0d2d3;
				@include open-sans-sBold();
		}
		.db-item {
				border-top: none;
				background: $wht !important;
				.db-graph {
						width: 100%;
						position: relative;
						padding-bottom: 55.2173913%;

						svg {
							position: absolute;
							top: 0px;
							left: 0px;
						}
				}
		}
}

// classes to hide/show dashboard and different widths
.dashboard.active {
	opacity: 1;
	visibility: visible;
	width: 34%;
}

.dashboard.db-full {
	width: 66.796875%;
	padding: 0rem 40px 0 40px;

	.narrow-dashboard {
		display: none;
	}
}




/*----------  Full/Expanded Dashboard style overrides  ----------*/

.dashboard.db-full {

	.dashboard-hdr .db-nav {

				#dbCollapse {
					&:before {
						content: "\f053\f053";
						letter-spacing: -1px;
						left: -2px;
					}
				}
				#dbExpand {
					&:before {
						content: "\f053";
						text-indent: -1px;
					}
				}
		}
}

.dashboard.db-full .dashboard-main {
		display: block;


		.db-section {
				margin-bottom: 2rem;

				.db-section-hdr {
					padding: 0.8rem 0px 0.8rem 20px
				}

				.db-section-content {
						width: 100%;
						height: 200px;
						overflow-y: scroll;
						padding-right: 2px;
				}

				.db-item {

						.db-item-info {
							float: none;
							width: 100%;
							padding: 0;
							clear: both;
						}

						.db-item-actions {
							float: none;
							width: 100%;
							text-align: left;
							padding: 0;
							margin: 0.6rem 0 0 0;
						}

				}
		}
		.db-device-list {
				.db-section-content {
						overflow-y: hidden;
						padding: 0;
						.db-mini-device-list {
								width: 43%;
								float: left;
								height: 100%;
								overflow-y: scroll;
						}
						.db-mini-floor-map {
								width: 57%;
								float: right;
								height: 100%;
								color: #fff;
								background-color: #09273a;
						}
				}


				.device {
					.device-hdr {
						@include fontSize(12px);
						@include lineHeight(14px);
						padding: 10px 35px 10px 35px;

						.status-icon {
							top: 50%;
							right: 10px;
							margin-top: -7px;
						}
					}

					.device-info {
						> div {
							padding: 5px 5px 5px 25px;
							@include fontSize(12px);
							@include lineHeight(14px);
						}
					}
				}
		}
		.db-mini-floor-map {
				border-right: 1px solid #fff;
				border-bottom: 1px solid #fff;
				overflow: hidden;

				.floor-map.site1 {
						transform: translateX(-10px) translateY(-185px) rotate(-90deg) scale(.45);
						margin: 0;
						padding: 0;
						.floor-map-marker {
								transform: rotate(90deg);
								transform-origin: center center;
						}
				}
		}

		.db-alerts {
			.db-item {
				.db-item-info {
					margin-bottom: 0.6rem;

					div {
						float: none;
					}
					.alert-meta {
						border: none;
						width: 100%;
						max-width: 100%;
						padding: 0;
					}
				}
				.db-item-actions {

					.alert-time {
						margin-top: 0.6rem;
						display: inline-block;
					}

					.btn-ticket {
						float: right;
					}
				}
			}
		}

		.db-efficiency {

			.efficiency-graph-title {
				padding: 1em 10px 0 20px;

			}

		}

		.db-updates {
			.db-item {

				.db-item-info {
					.info-message-title {
						padding-right: 30px;
					}
				}

				.db-item-actions {

					.info-meta {
						line-height: 2.6rem;
					}

					.btn-update {
						float: right;
					}
				}
			}
		}

		.db-tickets {

			.db-item {

				.db-item-info {
					margin-bottom: 1.5rem
				}

				.db-item-actions {
					margin: 0 0 1.5rem;

					.ticket-date, .ticket-progress {
						width: auto;
					}

					.ticket-progress {
						padding-left: 20px;
						padding-right: 20px;
					}
				}

				.db-ticket-info {
					color: #929497;
					margin-bottom: 1rem;
				}

			}
		}

} //end .dashboard.db-full

//Class used to transition in device details
	.dashboard-main.visible,
	.db-full .dashboard-main.visible {
		opacity: 1.0;
		visibility: visible;
		transition: visibility 0.2s ease, opacity 0.7s ease 0.3s;
	}


.animate-hide {
  transition: all linear 0.5s;
  opacity: 1;
}

.animate-hide.ng-hide {
  opacity: 0;
}
