.device-details-col-ph {
		width: 100%;
		position: relative;
		height: 100%;
}

.device-details {
		background-color: $wht;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 0;
		visibility: hidden;
		opacity: 0;
		overflow: hidden;
		// transition: width 0.6s ease;
		transition: visibility 0.4s ease, width 0.4s ease, opacity 0.4s ease;


		.device-details-hdr {
				background-color: $devicedetails-header-color;
				padding: 10px 20px 10px 75px;
				position: relative;
				min-height: 5.4rem;
				margin-bottom: 1.5rem;

				.dd-device-title {
						display: inline-block;
						@include fontSize(14px);
						@include lineHeight(16px);
						color: $wht;
						@include open-sans-sBold;
						max-width: 70%;
				}
				.device-details-expand {
						width: 38px;
						height: 38px;
						border: 1px solid $wht;
						color: $wht;
						@include fontSize(20px);
						@include lineHeight(38px);
						float: left;
						vertical-align: middle;
						text-align: center;
						border-radius: 19px;
						position: absolute;
						top: 8px;
						left: 18px;
						text-indent: -2px;
						cursor: pointer;
						.chevron:before {
								content: "\f053";
								font-family: FontAwesome;
						}

						&:hover {
							color: #E35E45;
							border-color: #E35E45;
						}
				}
		}
}

.device-open {
	.device-details {
		width: 100%;
		visibility: visible;
		opacity: 1;
	}
}

.device-details-main {
		// styles added below added to transition between
		// summary and full detail views
		visibility: hidden;
		opacity: 0;

		height: 92%;
		overflow-y: scroll;
		background-color: $wht;
		padding-bottom: 2rem;

		.dd-section {
			overflow: hidden;

				> .dd-section-block {
						padding: 8px 20px;
				}
				> .device-alert {
						margin: 0px 20px 15px;
						// padding-top: 18px;
				}
				> .dd-section-block-full {
						clear: both;
						width: 100%;
						padding: 8px 0px 8px 20px;
				}

				.dd-section-half {
					width: 50%;
					float: left;
					padding-right: 10px;
				}
				.dd-section-half + .dd-section-half {
					padding-left: 10px;
					padding-right: 0px;
				}

				.dd-section-content {
					padding: 8px 20px;
				}

				.db-graph {
						width: 100%;
						position: relative;
						padding-bottom: 55.2173913%;

						svg {
							position: absolute;
							top: 0px;
							left: 0px;
						}
				}

		}
		.dd-section-hdr {
				background-color: #F1F2F2;
				color: $devicedetails-header-color;
				@include open-sans-sBold;
				padding: 4px 20px 4px 20px;
				margin-top: 10px;
				margin-bottom: 10px;
				clear: both;
				position: relative;
		}

}

.expand-view {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -7px;
	display: block;
	background-image: url('../images/icons/expand-view-icon.svg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;

	&:hover {
		background-position: 0px -15px;
	}
}

.edit-link {
		display: inline-block;
		float: right;
		cursor: pointer;
		color: $blk;
		text-transform: uppercase;
		@include fontSize(14px);
}

.device-permissions-list {
		display: table;
		.permission-item {
				display: table-row;
				.permission-group,
				.permission-rights {
						display: table-cell;
				}
				.permission-group {
						width: 36.5853659%;
				}
				.permission-rights {
						width: 10.7317073%;
				}
		}
}


/*----------  Full Device Details  ----------*/

.device-details.all-details {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		width: 277%;
		box-shadow: -16px 0px 30px -10px rgba(0, 0, 0, 0.9);


		.device-details-hdr {
				.device-details-expand {
						text-indent: 2px;
						.chevron:before {
								content: "\f054";
								font-family: FontAwesome;
						}
				}

				.dd-device-title {
					line-height: 3.5rem;
				}
		}

		.device-details-main {
				opacity: 0;
				visibility: hidden;
				padding-left: 9.8%;
				padding-right: 6.6666667%;

				.dd-section {
						overflow: hidden;
						> .device-alert {
								margin: 8px 20px 15px 0;
						}
						.dd-section-block {
								width: 50%;
								float: left;
						}
				}
				.dd-section.device-details-actions {
						> .dd-section-block {
								padding: 8px 0;
								width: 100%;
						}
						.btn {
								width: 15.76666%;
								display: inline-block;
								margin: 0 0.25%;
								min-width: 98px;
						}
						#btnReset {
								width: 32%;
						}
						#btnCreateTicket {
								width: auto;
						}
				}

		}


}
	//Class used to transition in device details
	.device-details-main.visible,
	.all-details .device-details-main.visible {
		opacity: 1.0;
		visibility: visible;
		transition: visibility 0.2s ease, opacity 0.7s ease 0.3s;
	}

.update-log {

			.update-log-hdr {
				color: #e35e45;
				@include open-sans-sBold();

				.update-log-toggle {
					position: relative;
					color: #e35e45;
					@include open-sans-sBold();

					&:after {
						position: relative;
						display: inline-block;
						font-family: FontAwesome;
						@include fontSize(12px);
						@include lineHeight(14px);
						content: "\f077";
						width: 14px;
						height: 14px;
						margin-left: 10px;
					}
				}
			}

			.update-log-hdr.collapsed {

				.update-log-toggle {

					&:after {
						display: inline-block;
						font-family: FontAwesome;
						@include fontSize(12px);
						@include lineHeight(14px);
						content: "\f054";
						width: 14px;
						height: 14px;
						margin-left: 10px;
					}
				}
			}

			.update-log-grid {
				padding-top: 0.8rem;

				table {
					border-bottom: 1px solid $table-border-color;
					margin-bottom: 0;

					tbody {
						tr {
							td:first-child {
								padding-left: 0px;
							}
						}
					}

				}
			}
		}
