.devices-panel {
	background-color: $wht;
	min-height: 600px;
	height: 100%;
}
.devices-panel-hdr {
	background-color: $devices-header-color;
	@include panel-hdr-styles;
}
	
.devices-list-main {
	height: 95%;
	overflow-y: scroll;
}

.device-group-title {
	padding: 10px 10px 10px 33px;
	@include open-sans-sBold;
	color: $wht;
	background-color: $device-list-group-color;
	background: $device-list-group-color;
	@include open-sans-normal;
	position: relative;
	@include fontSize(13px);
	@include lineHeight(15px);

	&:hover {
		background-color: $device-list-group-hover;
		background: $device-list-group-hover;

		.dg-expand-icon {
			background-color: $device-list-group-hover;
			background: $device-list-group-hover;			
		}
	}

	.dg-expand-icon {
		position: absolute;
		width: 25px;
		height: 100%;			
		top: 0;
		left: 0;
		bottom: 0;
		background: $device-list-group-color;

		&:hover {
			background-color: $device-list-group-hover;
			background: $device-list-group-hover;
		}
	}
	.dg-expand-icon:before {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 8px 6.5px 0 6.5px;
		border-color: #FFFFFF transparent transparent transparent;
		position: absolute;
		top: 50%;
		left: 10px;
		margin-top: -4px;
		z-index: +1;
	}

	.group-status {
		visibility: hidden;
	}
}

.device-group-title.collapsed {
	padding: 10px 10px 10px 33px;
	@include open-sans-sBold;
	color: $device-list-text-color;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f2f2 0%, #ffffff 30%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f1f2f2 0%,#ffffff 30%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f1f2f2 0%,#ffffff 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	position: relative;
	@include fontSize(13px);
	@include lineHeight(15px);
	box-shadow: inset 0px -2px 3px -2px #f1f2f2;

	&:hover {
		.dg-expand-icon {
			background-color: $device-list-group-hover;
			background: $device-list-group-hover;
		}
	}


	.dg-expand-icon {
		width: 25px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;			
		background: #a7c7c7; /* Old browsers */
		background: -moz-linear-gradient(top,  #a7c7c7 0%, #afd0d2 30%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #a7c7c7 0%,#afd0d2 30%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #a7c7c7 0%,#afd0d2 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7c7', endColorstr='#afd0d2',GradientType=0 ); /* IE6-9 */

		&:hover {
			background-color: $device-list-group-hover;
			background: $device-list-group-hover;
		}
	}
	.dg-expand-icon:before {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6.5px 0 6.5px 8px;
		border-color: transparent transparent transparent #FFFFFF;
		position: absolute;
		top: 50%;
		left: 10px;
		margin-top: -6px;
	}

	.group-status {
		visibility: visible;
	}
}

.device {

	&.selected {
		.device-hdr {
			background: #e2e2e2;
			font-weight: bold;

		}
	}

	&.status-offline {
		.device-hdr {
			color: #bbb;
		}
	}

	.device-hdr {		
		color: $device-list-text-color;
		@include open-sans-normal;
		position: relative;
		color: $device-list-text-color;
		padding: 10px 38px 10px 35px;
		@include fontSize(13px);
		@include lineHeight(15px);		
		@include open-sans-normal;
		border-top: 1px solid #f1f2f2;
		color: $device-list-text-color;
		border-bottom: 1px solid #f1f2f2;
		background: #f1f2f2; /* Old browsers */
		background: -moz-linear-gradient(top,  #f1f2f2 0%, #ffffff 33%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #f1f2f2 0%,#ffffff 33%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #f1f2f2 0%,#ffffff 33%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		cursor: pointer;


		.collapse-toggle {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 25px;
			cursor: pointer;
			z-index: +1;
		}
		
		.collapse-toggle:before {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 6.5px 0 6.5px;
			border-color: #000000 transparent transparent transparent;
			position: absolute;
			top: 50%;
			left: 10px;
			margin-top: -4px;
			z-index: +1;

		}
		
		.collapse-toggle.collapsed:before {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6.5px 0 6.5px 8px;
			border-color: transparent transparent transparent #000000;
			position: absolute;
			top: 50%;
			left: 10px;
			margin-top: -6px;
		}
	}

	.device-info {
		background: $device-info-bg-color;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,f1f2f2+20,f1f2f2+94,eaeaea+100 */
		background: #eaeaea; /* Old browsers */
		background: -moz-linear-gradient(top,  #eaeaea 0%, #f1f2f2 20%, #f1f2f2 94%, #eaeaea 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #eaeaea 0%,#f1f2f2 20%,#f1f2f2 94%,#eaeaea 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #eaeaea 0%,#f1f2f2 20%,#f1f2f2 94%,#eaeaea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

		border-bottom: 1px solid #e8e8e8;
		padding: 15px 10px;

		> div {
			padding: 5px 30px 5px 25px;
			@include fontSize(13px);
			@include lineHeight(18px);			}
	}
}

.updates-available {
	cursor: pointer;
}

.status-icon, .status-icon.group-status .visibility-icon {
		display: block;
		width: 15px;
		height: 15px;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: absolute;
		background-color: transparent;
		color: transparent;
	}
	
	.status-icon,
	.group-status {
		top: 10px;
		right: 10px;
		//background-image: url(../images/devices/status-check-icon.svg);
	}
	.visibility-icon {
		top: 10px;
		right: 30px;
	}

	.status-alert, .group-alert {
		.status-icon {
			background-image: url(../images/devices/status-alert-icon.svg) !important;
		}
	}
	.status-good {
		.status-icon {
			background-image: url(../images/devices/status-check-icon.svg);
		}
	}
	.status-update, .group-update {
		.status-icon {
			background-image: url(../images/devices/status-updating-icon.svg);
			-webkit-animation-name: spin;
	    -webkit-animation-duration: 4000ms;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-timing-function: linear;
	    -moz-animation-name: spin;
	    -moz-animation-duration: 4000ms;
	    -moz-animation-iteration-count: infinite;
	    -moz-animation-timing-function: linear;
	    -ms-animation-name: spin;
	    -ms-animation-duration: 4000ms;
	    -ms-animation-iteration-count: infinite;
	    -ms-animation-timing-function: linear;
	    animation-name: spin;
	    animation-duration: 4000ms;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
		}
	}
	
	.visibility-visible {
		.visibility-icon {
			background-image: url(../images/devices/visible-icon.svg);
		}
	}
	.visibility-hidden {
		.visibility-icon {
			background-image: url(../images/devices/not-visible-icon.svg);
		}
	}

	
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
