.locations {
  background-color: $floorplan-bg-color;
  color: $floorplan-text-color;
  height: 100%;
  /*background-image: url(../images/floor_tile_bg.gif);*/
  background-repeat: repeat;
  background-position: -1px 41px;
  position: relative;
}


.locations-nav {
  text-align: center;
  width: 100%;
  background-color: $floorplan-bg-color;
  padding: 10px;

  ul {
    margin: 0;
    padding: 0;

    li {
      font-size: 15px;
      line-height: 17px;
      @include open-sans-normal;
      text-transform: uppercase;
      border-right: 1px solid #fff;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;

      &:hover,
      &.active {
        color: $link-hover-color;
      }
    }
    li:last-child {
      border-right: none;
    }
  }

}

.floor-map {
  margin: 30px auto 0px;
  text-align: center;
  position: relative;

  img {
    display: block;
    margin: 0 auto;
  }

  .floor-map-marker {
    position: absolute;
    background-repeat: no-repeat;
  }


  .floor-map-marker {
    width: 37px;
    height: 54px;
    background-image: url(../images/floor-map/pin-icon-sprite.svg);
    background-size: 73px 55px;
    background-color: transparent;
    background-position: 0px 0px;
    margin-left: -18px; // set to half width so absolute postion is in middle of element;
    margin-top: -27px; // set to half height so absolute postion is in middle of element;
  }


  .floor-map-marker.active,
  .floor-map-marker:hover {
    background-image: url(../images/floor-map/pin-icon-sprite.svg);
    background-position: -37px 0px !important;
  }


  .floor-map-marker.status-alert {
    width: 45px;
    height: 45px;
    background-color: transparent;
    background-image: url(../images/floor-map/alert-icon-sprite.svg);
    background-size: 91px 45px;
    background-position: -1px 0px !important;
    margin-left: -22px; // set to half width so absolute postion is in middle of element;
    margin-top: -22px; // set to half height so absolute postion is in middle of element;
  }
  .floor-map-marker.status-alert:hover,
  .floor-map-marker.status-alert.active {
    background-image: url(../images/floor-map/alert-icon-sprite.svg);
    background-size: 91px 45px;
    background-position: -47px 0px !important;
  }
  .floor-map-marker.status-offline {
    width: 37px;
    height: 54px;
    background-image: url(../images/floor-map/pin-icon-sprite-offline.svg);
    background-size: 73px 55px;
    background-color: transparent;
    background-position: 0px 0px;
    margin-left: -18px;
    margin-top: -27px; }
  .floor-map-marker.status-offline.active,
  .floor-map-marker.status-offline:hover {
    background-image: url(../images/floor-map/pin-icon-sprite-offline.svg);
    background-position: -37px 0px !important; }

  .floor-map-marker.status-update {
    width: 42px;
    height: 42px;
    background-color: transparent;
    background-image: url(../images/floor-map/updating-icon-sprite.svg);
    background-size: 86px 42px;
    background-position: 0px 0px !important;
    margin-left: -21px; // set to half width so absolute postion is in middle of element;
    margin-top: -21px; // set to half height so absolute postion is in middle of element;


    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  .floor-map-marker.status-update:hover,
  .floor-map-marker.status-update.active {
    background-image: url(../images/floor-map/updating-icon-sprite.svg);
    background-position: -44px 0px !important;
  }

}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.floor-map.site1 {
  width: 315px;
  height: 575px;
}
