.tickets-page {

	.new-ticket {

		.panel-heading {
			background-color: $tickets-header-color;
		}

		.panel-body {
			padding-bottom: 4.5rem;
		}
	
		table.table-condensed {
			margin-bottom: 0px;

			tbody {
				tr {
					td {
						border-bottom: 1px solid #d1d3d4;
						border-top: none;
						@include fontSize(14px);	
						@include lineHeight(15px);						
					}

					td:first-child {
						padding-left: 0px;
					}

					td .inline-ticket-alert {
						@include fontSize(12px);	
						@include lineHeight(15px);
						display: inline-block;
						background-image: url(../images/icons/alert-icon.svg);
						background-position: 0px 0px;
						background-size: 14px 14px;
						background-repeat: no-repeat;
						padding-left: 22px;
					}

					td:last-child {
						text-align: right;
						width: 52%;
						padding-right: 0px;
					}
				}
			}
		}

		textarea {
			width: 90%;
			height: 88px;
			padding: 0.8rem 10px;
			@include fontSize(12px);	
			@include lineHeight(15px);
		}

		.btn-create-ticket {
			margin-top: 62px;
		}

	}
}