// Updates listing page styles

.panel.new-update {
	margin-bottom: 3.6rem;

	.new-item-meta {
		margin-bottom: 2rem;
		@include fontSize(12px);
		@include lineHeight(14px);							

		.new-update-title {
			@include open-sans-sBold();
		}
		.est-update-time {
			@include open-sans-normal();	
		}
	}

	.panel-body {
		padding: 2.4rem 36px;
		

		.new-updates-list {

			table {
				color: $default-text-color;
				@include fontSize(13px);
				@include lineHeight(15px);
				border-bottom: 1px solid $table-border-color;
				margin-bottom: 2.4rem;

				.new-update-item {
					cursor: pointer;
					
					&.disabled {
						opacity: 0.4;
						pointer-events: none;
					}
				}
				
				tr td:first-child {
					width: 2.6%;
					vertical-align: middle;

					input[type=checkbox] {
						margin: 0;
						padding: 0;
					}
				}

				tr td:last-child {
					padding-right: 0;
					text-align: right;
					width: 52%;
				}

				tr {
					td {
						vertical-align: middle;
					}
				}

				.update-item-status {
					font-style: italic;
				}
				.update-item-status.update-completed {
					background-color: #929497;
				}
			}
			
		}

		.progress.update-progress {
			margin-bottom: 0;
			height: 1.4rem;
			line-height: 1.4rem;
			border-radius: 7px;
			background-color: rgba(176,210,211,0.2);
			box-shadow: none;
			
			.progress-bar {
				background-color: $updates-header-color;
				border-radius: 7px;
				// box-shadow: none;
			}
		}

		.new-update-actions {

			input.form-control {
				padding: 4px 12px;
				height: 26px;
				width: 260px;
			}
			.input-group-btn {

				.btn {
					padding: 3px 8px;
					.fa {
						font-size: 13px;
						color: #031f2c;
					}					
				}

			}
		}
		
	}
}

.updates-page {

	.listing-table {
		tbody {
			tr {
				td:nth-child(0n+1) {
					width: 32%;
				}
				td:nth-child(0n+2) {
					width: 25%;
				}
			}
		}
	}
}
