

<div class="modal-header">
	<div class="modal-controls">
    <div class="modal-close" data-dismiss="modal" ng-click="dismiss(); disconnectSession();"><i class="fa fa-times-circle"></i></div>
	</div>

</div>
<div class="modal-body">
	<form>
	<div class="row console-input">
		<div class="col-md-16">
			<span class="device-name">Remote Login Console</span><br>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="console-output">
				<span class="console-instructions">Your session will automatically log out if no actions are performed in 10 minutes</span> <br>
						<iframe id="url" src="" width="100%" height="375" style = "overflow-x:scroll;">
				</iframe>
			</div>
		</div>
	</div>
	</form>
</div>
