<div class="dashboard shadow-right-edge" ng-class="{active:dashboardVisible,'db-full':fullDashboard}">
		<div class="dashboard-hdr">
				<div class="db-nav">
						<div id="dbExpand" class="db-controls" ng-click="expandDashboard()"><span></span></div>
						<div id="dbCollapse" class="db-controls" ng-click="hideDashboard()"><span></span></div>
						<div id="dbSettings" class="db-controls reversed-color"><i class="fa fa-cog"></i></div>
						<div id="dbUser" class="db-controls reversed-color"><i class="fa fa-user"></i></div>
				</div>
		</div>
		<!--/.dashboard-hdr -->
		<!--################# Narrow/List view dashboard #####################-->
		<div class="dashboard-main narrow-dashboard" ng-show="!fullDashboard" ng-class="{visible:!fullDashboard}">
				<!-- start Devices list section -->
				<div class="db-section db-device-list">
						<div class="db-section-hdr" ng-click="panel1Collapsed=!panel1Collapsed" ng-class="{collapsed:panel1Collapsed}">
								<div class="db-expand-icon"> </div>
								<span class="db-section-title">Device List</span>
								<div class="db-page-link" ng-click="goTo('/devices', $event)">
										<i class="fa fa-chevron-right"></i>
								</div>
						</div>
						<!--/.db-section-hdr -->
						<div id="dbDeviceList" uib-collapse="panel1Collapsed" class="db-section-content">
								<!-- Device list directive -->
								<devices-list></devices-list>
						</div>
						<!-- /.db-section-content -->
				</div>
				<!--/.end Devices list -->
				<!-- start Alerts section -->
				<div class="db-section db-alerts">
						<div class="db-section-hdr" ng-click="panel2Collapsed=!panel2Collapsed" ng-class="{collapsed:panel2Collapsed}">
								<div class="db-expand-icon"></div>
								<span class="db-section-title">Alerts</span>
								<div class="db-page-link">
										<i class="fa fa-chevron-right"></i>
								</div>
						</div>
						<!--/.db-section-hdr -->
						<div id="dbAlertList" uib-collapse="panel2Collapsed" class="db-section-content">
							<alerts-panel></alerts-panel>
						</div>
				</div>
				<!-- /end Alerts section -->
				<!-- start Updates section -->
				<div class="db-section db-updates">
						<div class="db-section-hdr" ng-click="panel3Collapsed=!panel3Collapsed" ng-class="{collapsed:pane3Collapsed}">
								<div class="db-expand-icon"></div>
								<span class="db-section-title">Updates</span>
								<div class="db-page-link" ng-click="goTo('/updates', $event)">
										<i class="fa fa-chevron-right"></i>
								</div>
						</div>
						<!--/.db-section-hdr -->
						<div id="dbUpdates" uib-collapse="panel3Collapsed" class="db-section-content">
							<updates-panel></updates-panel>
						</div>
				</div>
				<!-- /end Updates section -->
				<!-- start Tickets section -->
				<div class="db-section db-tickets">
						<div class="db-section-hdr" ng-click="panel4Collapsed=!panel4Collapsed" ng-class="{collapsed:panel4Collapsed}">
								<div class="db-expand-icon"></div>
								<span class="db-section-title">Tickets</span>
								<div class="db-page-link" ng-click="goTo('/tickets', $event)">
										<i class="fa fa-chevron-right"></i>
								</div>
						</div>
						<!--/.db-section-hdr -->
						<div id="dbTickets" uib-collapse="panel4Collapsed" class="db-section-content">
								<tickets-panel></tickets-panel>
						</div>
				</div>
				<!-- /end Tickets section -->
				<!-- Efficiency section/panel -->
				<div class="db-section db-efficiency">
						<div class="db-section-hdr collapsed" ng-click="panel5Collapsed=!panel5Collapsed" ng-class="{collapsed:panel5Collapsed}">
								<div class="db-expand-icon"></div>
								<span class="db-section-title">Efficiency</span>
								<div class="db-page-link">
										<i class="fa fa-chevron-right"></i>
								</div>
						</div>
						<!--/.db-section-hdr -->
						<div id="dbEfficiency" uib-collapse="panel5Collapsed" class="db-section-content collapse">
							<efficiency-panel></efficiency-panel>
						</div>
				</div>
		</div>
		<!--/.dashboard main -->
		<!--################# Full/Expanded dashboard #####################-->

		<div class="dashboard-main expanded-dashboard" ng-show="fullDashboard" ng-class="{visible:fullDashboard}">
				<div class="row">
						<div class="col-sm-8">
								<!-- start Devices list section -->
								<div class="db-section db-device-list">
										<div class="db-section-hdr">
												<span class="db-section-title">Device List</span>
												<div class="db-page-link" ng-click="goTo('/', $event)">
														<i class="fa fa-chevron-right"></i>
												</div>
										</div>
										<!--/.db-section-hdr -->
										<div class="db-section-content">
												<div class="db-mini-device-list">
														<!-- Device list directive -->
														<devices-list></devices-list>
												</div>
												<div class="db-mini-floor-map">
														<!-- ####### Foor Map ####### -->
														<locations-map></locations-map>
														<!-- ####### End Foor Map ####### -->
												</div>
												<!-- /.db-section-content -->
										</div>
								</div>
								<!--/.end Devices list -->
						</div>
						<!-- /.col-sm-8 -->
						<div class="col-sm-4">
								<!-- start Alerts section -->
								<!-- this section has a different HTML structure than narrow view -->
								<div class="db-section db-alerts">
										<div class="db-section-hdr">
												<span class="db-section-title">Alerts</span>
												<div class="db-page-link" ng-click="goTo('/tickets', $event)">
														<i class="fa fa-chevron-right"></i>
												</div>
										</div>
										<!--/.db-section-hdr -->
										<div class="db-section-content">
											<alerts-panel></alerts-panel>
										</div>
								</div>
								<!-- /end Alerts section -->
						</div>
						<!-- /.col-sm-4 -->
				</div>
				<!-- /.row -->
				<div class="row">
						<div class="col-sm-4">
								<!-- start Efficiency Section -->
								<div class="db-section db-efficiency">
										<div class="db-section-hdr">
												<span class="db-section-title">Efficiency</span>
												<div class="db-page-link">
														<i class="fa fa-chevron-right"></i>
												</div>
										</div>
										<!--/.db-section-hdr -->
										<div id="dbEfficiency" class="db-section-content" efficiency-panel>

										</div>
								</div>
								<!-- /end Efficiency Section -->
						</div>
						<!-- /.col-sm-4 -->
						<div class="col-sm-4">
								<!-- start Updates section -->
								<div class="db-section db-updates">
										<div class="db-section-hdr">
												<span class="db-section-title">Updates</span>
												<div class="db-page-link" ng-click="goTo('/updates', $event)">
														<i class="fa fa-chevron-right"></i>
												</div>
										</div>
										<!--/.db-section-hdr -->
										<div class="db-section-content">
												<updates-panel></updates-panel>
										</div>
								</div>
								<!-- /end Updates section -->
						</div>
						<!-- /.col-sm-4 -->
						<div class="col-sm-4">
								<!-- start Tickets section -->
								<!-- this section has a different HTML structure than narrow view -->
								<div class="db-section db-tickets">
										<div class="db-section-hdr">
												<span class="db-section-title">Tickets</span>
												<div class="db-page-link" ng-click="goTo('/tickets', $event)">
														<i class="fa fa-chevron-right"></i>
												</div>
										</div>
										<!--/.db-section-hdr -->
										<div class="db-section-content">
												<tickets-panel></tickets-panel>
										</div>
								</div>
								<!-- /end Tickets section -->
						</div>
						<!-- /.col-sm-4 -->
				</div>
				<!-- /.row -->
		</div>
		<!--/.dashboard main -->
</div>
<!--/.dashboard -->
