<div class="device-group" ng-repeat="group in groupedDevices track by $index">
		<div class="device-group-title" ng-click="groupCollapsed = !groupCollapsed" ng-class="{collapsed:groupCollapsed, 'group-alert':group.groupAlerts, 'group-update':group.groupUpdate}">
				<div class="dg-expand-icon">&nbsp;</div>
				{{group.userFriendlyName}} ({{group.deviceCount}})
				<div class="group-status status-icon"></div>
		</div>
		<div class="device-group-list" id="group{{group.groupId}}" uib-collapse="groupCollapsed">
				<!-- device item -->
				<div class="device" ng-repeat="device in group.devices" ng-click="showDeviceDetails(device.id);deviceCollapsed = false" ng-class="{'status-alert':device.statusAlert,'status-update':device.installStatus.code === 1 || device.installStatus.code === 2, 'selected':device.selected, 'status-offline':device.statusOffline}">
						<div class="device-hdr">

									<!--	<div class="collapse-toggle" ng-class="{collapsed:deviceCollapsed}" ng-click="deviceCollapsed = !deviceCollapsed"></div> -->


              <span class="device-title" title="Show more Device details">{{device.name}}</span>
              <div class="status-icon"></div>
            </div>

						</div>
				</div>
				<!-- /.device item -->
		</div>
		<!--/device-group-list -->
</div>
<!-- /device-group -->



