<style>
  .bigFont {
    font-size: 24px;
  }

</style>


<div class="device-details" ng-class="{'all-details':fullDetails}">
      <div class="device-details-hdr">
        <div class="device-details-expand" ng-click="expandDeviceDetails()">
          <i class="fa chevron"></i></div>
        <span class="dd-device-title">
            {{device.name}}
        </span>
      </div>
      <!--/.device-details-hdr -->

      <!--################# Summarized Device details #####################-->
      <div class="device-details-main details-summary" ng-show="!fullDetails" ng-class="{visible:!fullDetails}">
        <div class="dd-section">

          <div class="device-alert" ng-repeat="alert in device.issues">
               {{alert.alertMessage}} <!--{{alert.alertDate}}  at {{alert.alertTime}}  -->   <!-- alert messages routing.-->
          </div>

        </div>

        <div class="dd-section">

          <div class="dd-section-hdr">
            Meta Data
          </div>
          <div class="dd-section-block">
            MAC:  {{device['properties'].macAddress | uppercase}}
            <br> ID: {{device.uuid}}
            <br> OS: {{device['iot-properties'].os_version}}
            <br><span>Version: {{device['iot-properties'].version}}</span>
            <br><span>Firmware Version: {{device['iot-properties'].fw_version}}</span>
          </div>
        </div>


        <!--GROUPS TAB -->


        <div class="dd-section">
          <div class="dd-section-hdr">
            Groups
          </div>
          <div class="dd-section-block">
            <ul class="device-group-list list-unstyled">
              <li ng-repeat="group in device.groupNames">{{group}}</li>
            </ul>
          </div>
        </div>



      </div>
      <!--/.device-details-main -->

    <!--################# All/Expanded Device details #####################-->
      <div class="device-details-main details-all" ng-show="fullDetails" ng-class="{visible:fullDetails}">
        <!-- Device Alerts -->
        <div class="dd-section" >
          <div class="device-alert" ng-repeat="alert in device.issues">
               {{alert.alertMessage}}   <!-- <br> {{alert.alertDate}} at {{alert.alertTime}} -->
          </div>
        </div>
        <div class="dd-section device-details-actions">
          <div class="dd-section-block">


            <!--
            <button id="btnShut-down" class="btn btn-default" ng-click="initActivate()">Activate</button>
            <button id="btnDeactivate" class="btn btn-default" ng-click="initDeactivate()">Deactivate</button>
            <button id="btnReset" class="btn btn-default" ng-click="identifyID()">Button</button>
            <button id="btnConsole" class="btn btn-default" ng-click="createConsoleModal()">Remote</button>
            -->

            <button id="btnSupport" class="btn btn-default" ng-click="gotoSupport()">Support</button>
            <button id="btnRestart" class="btn btn-default" ng-click="initRestart()">Restart</button>
            <button id="btnCreateTicket" class="btn btn-ticket" ng-click="createWorkTicket()">Metalink<i class="fa fa-plus"></i></button>



          </div>
          <div class="dd-section-block">

            <!-- work ticket is here -->


          </div>
        </div>

        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->
        <!-- /end Device Alerts -->
        <!-- Device Details section -->
        <div class="dd-section">

          <div class="dd-section-half">

            <div class="dd-section-hdr">
              Device
            </div>
            <div class="dd-section-content" align = "center">
              <div class="dd-section-block" align="center">
                <!--
                 <img src="{{imageLink}}" align = "center"/>
                  -->
                <!-- default image for device, inseryt -->


              </div>
            </div>
          </div>


          <div class="dd-section-half">
            <div class="dd-section-hdr">
              Details
            </div>

            <div class="dd-section-content">
              <!-- Details here-->
              <br>
              <br>
              MAC:  {{device['iot-properties'].device_address | uppercase}}
              <br> ID: {{device.uuid}}
              <br> OS: {{device['iot-properties'].os_version}}
              <br><span>Version: {{device['iot-properties'].version}}</span>
              <br><span>Firmware Version: {{device['iot-properties'].fw_version}}</span>
              <br>
              <br>
              <br>


            </div>
          </div>




        </div>
        <!-- /end Device Details section -->
        <!-- Software updates sections -->
        <!-- Chart data!! -->

        <div class="dd-section">
          <div class="dd-section-half">
            <div class="dd-section-hdr">
              Telemetry Data
            </div>
            <div class="dd-section-block-full">
              <canvas id="totalData"
                      height="50"
                      width="100"
                      class="chart chart-doughnut"
                      chart-data="initData"
                      chart-labels="labels">
              </canvas>
            </div>
          </div>
          <div class="dd-section-half">
            <div class="dd-section-hdr">
              Telemetry Data
            </div>
            <div class="dd-section-block-full">
              <canvas id="totalData2"
                      height="50"
                      width="100"
                      class="chart chart-doughnut"
                      chart-data = "otherData"
                      chart-labels = "otherLabels">
              </canvas>
            </div>
          </div>
        </div>


        <div class="dd-section">
          <div class="dd-section-hdr">
            Data Expanded
          </div>

          <div class="dd-section-half">
          <div class="dd-section-content">

              <!--
            <div class="allMetaData" ng-repeat="meta in allMetaData"
                 ng-if = "meta.metricName.indexOf('GPS skyview') < 0
                 && meta.metricName.indexOf('GPS fix') < 0
                 && meta.metricName.indexOf('GPS online') < 0"
            >
              <strong>{{meta.metricName}}</strong>

-->


              MAC:  {{device['iot-properties'].device_address | uppercase}}
            <br> ID: {{device.uuid}}
            <br> OS: {{device['iot-properties'].os_version}}
            <br><span>Version: {{device['iot-properties'].version}}</span>
            <br><span>Firmware Version: {{device['iot-properties'].fw_version}}</span>
            </div>
          </div>
          </div>


          <div class="dd-section-half">
          <div class="dd-section-content">

              <!--


            <div class="allMetaData" ng-repeat="meta in allMetaData"
                 ng-if = "meta.metricName.indexOf('GPS skyview') < 0
                 && meta.metricName.indexOf('GPS fix') < 0
                 && meta.metricName.indexOf('GPS online') < 0"
            >
             <strong><span>{{meta.value}}</span></strong>


-->






            </div>
          </div>
          </div>
        </div>

        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->
        <!-- //////////////////////////// -->

        <!-- /end Software updates section -->
        <!-- Groups section -->












        <!-- end -->

      </div>
      <!--/.device-details-main -->

      <!-- panel loading cover and animation -->
    <div class="loader" ng-class="{'loading':isLoading}"></div>
    </div>
    <!--/.device-details -->
