<div class="app-header">
		<div class="container-fluid app-container">
      <style>
        h3{color:whitesmoke;
          padding: 10px;}
        a{color:#FFFFFF;
          padding: 10px;}
        h1{cursor: pointer;
          font-size: 24px !important;
          margin-right: 28px;
          }
      </style>

      <!-- dashboard button

				<div class="dashboard-tab" ng-click="showDashboard(true)">
					<div class="dashboard-icon">
						<img src="images/icons/dashboard-icon.svg" alt="Dashboard" width="25" height="25" />
					</div>
				</div>

				-->

				<div class="col-sm-9">
						<div class="company-branding">
              <img src="images/heavy_logo.png" style="float: left;" hspace="20"/>
               <br>
              <h1 class="company-title" ng-click="goTo('/devices')"> HEAVY INDUSTRIES</h1>
                <h2 class="company-tagline">Powered by Helix Device Cloud</h2>
						</div>
				</div>

				<div class="col-sm-3">
          <div class="company-branding" align = "right">
            <img src="images/wr_logo_resize.png" style="float: right;" hspace="20"/>
          </div>
				</div>





		</div>
</div>
