<div class="locations">

  <!-- TODO  DEAL WITH THIS ??-->

  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoY8P8LqZ156ozhvta4ZrIxBG3B8Qc0Ns&callback=initMap">
  </script>
  <script src="bower_components/angular-color-picker/angular-color-picker.js"></script>


  <div class="device-details" ng-show="!fullDetails">
    <style>
        #p1{
          padding-top:1px;
          padding-bottom:2px;
        }

        h1{
          font-weight:normal;
          color: black;
          font-size: 8px;
        }

        h2{
          color: black;
          font-size: 8px;
        }


        .modal-dialog {
          max-height: 800px;
        }
        .modal-body {
          max-height: 800px;
        }
        .modal{
          max-height: 800px;

        }

      #map{
        height:400px;
        width:650px;
        /*    box-shadow: 3px 3px 10px gray;*/
      }
      #repeat{
        display: inline;
      }
      #country_container {
        margin: 8px 2px 2px 0px;
        text-align: center;
        width: 90px;
        padding: 5px;
        color: white;
        background-color: gray;
        font-size: 16px;
        cursor: pointer;
      }
      #country_container:hover {
        box-shadow: 0px 0px 10px blue;
        background-color: gray;
        border: 1px solid gray;
        cursor: pointer;
      }
      #names {
        cursor: pointer;
      }


      .btn-hover {
        font-weight: normal;
        color: #333333;
        cursor: pointer;
        background-color: inherit;
        border-color: transparent;
      }

      .btn-hover-alt {
        font-weight: normal;
        color: #ffffff;
        cursor: pointer;
        background-color: inherit;
        border-color: transparent;
      }


        @media screen and (min-width: 768px) {
          .modal-md{
            height: 600px;
          }
          .modal-content{
            height: 500px;
          }
          .modal-body{
            height: 400px;
          }
          .modal-footer{


          }
        }

    </style>




    <div class="device-details-hdr">
        <span class="dd-device-title">
            {{device.name}}
        </span>
      </div>
      <!--/.device-details-hdr -->
      <!--################# Summarized Device details #####################-->
      <div class="device-details-main details-summary" ng-show="!fullDetails" ng-class="{visible:!fullDetails}">

        <div class="dd-section">

          <div class="device-alert" ng-repeat="alert in device.issues">
            {{alert.alertMessage}} <!--{{alert.alertDate}}  at {{alert.alertTime}}  -->   <!-- alert messages routing.-->
            <br>
            Last Report Time - {{alert.alertLastReport  | date:'HH:mm MM/dd/yyyy '}}
          </div>


            <div class="dd-section-content">
                <div class="dd-section-block">

                  <button class="btn btn-lg btn-primary" id="launchExtra">
                  Data 1
                </button>

                  <button class="btn btn-lg btn-primary" id="launchExtra1">
                  Data 2
                  </button>

                  <button class="btn btn-lg btn-primary" id="launchExtra2">
                    Data 3
                  </button>

                  <button class="btn btn-lg btn-primary" id="launchExtra3" ng-click="testFunction()">
                    Location
                  </button>


                  <ul class="nav nav-tabs">
                    <li class="hidden"><a href="#extra" role="tab" data-toggle="tab" >1</a></li>
                    <li class="hidden"><a href="#extra1" role="tab" data-toggle="tab" >2</a></li>
                    <li class="hidden"><a href="#extra2" role="tab" data-toggle="tab" >3</a></li>
                    <li class="hidden"><a href="#extra3" role="tab" data-toggle="tab" >4</a></li>
                  </ul>


<!-- default = center    align = "center" -->
                  <div class="tab-content">

                    <div id="home" class="tab-pane fade in active">
                      <br>
                      <br>

                      <div class = "dd-section-half" align="center">
                        <div class="dd-section-hdr">
                          Performance Activites
                        </div>

                        <div ng-show="!metaData">
                        <canvas id="bar" class="chart chart-bar" chart-data="barData" chart-labels="barLabels" chart-series="barSeries"></canvas>
                        </div>

                      </div>


                      <div class="dd-section-half">
                        <div class="dd-section-hdr">
                          Temperature
                        </div>
                        <canvas id="lineSmall" class="chart chart-line"
                                height="64"
                                width="120"
                                padding-left= "1"
                                padding-right="1"
                                chart-data="data1"
                                chart-labels="labels1"
                                chart-series="series"
                                chart-options="options"
                        >
                        </canvas>
                      </div>


                    </div>




                    <div class="tab-pane" id='extra'>
                      <br>
                      <br>
                      <div class = "dd-section-half" align="center">

                      <div class="dd-section-hdr">
                        Telemetry
                      </div>

                      <div class="clearfix"></div>
                        <canvas id="bar" class="chart chart-bar" chart-data="barData" chart-labels="barLabels" chart-series="barSeries"></canvas>
                      <br>
                      <br>
                      <div class="clearfix"></div>
                      <br>
                      <div class="clearfix"></div>
                      </div>


                      <div class="dd-section-half">
                        <div class="dd-section-hdr">
                          Key Performance Indicators
                        </div>
                        <canvas id="lineSmall" class="chart chart-line"
                                height="64"
                                width="120"
                                padding-left= "1"
                                padding-right="1"
                                chart-data="data1"
                                chart-labels="labels1"
                                chart-series="series"
                                chart-options="options"
                        >
                        </canvas>




                      </div>
                    </div>



                    <div class="tab-pane" id='extra1'>
                      <br>
                      <br>
                      <div class = "dd-section-half" align="center">

                        <div class="dd-section-hdr">
                          Data 2
                        </div>

                        <div class="clearfix"></div>



                        <canvas id="bar" class="chart chart-bar" chart-data="barData" chart-labels="barLabels" chart-series="barSeries"></canvas>


                        <br>
                        <br>
                        <div class="clearfix"></div>
                        <br>
                        <div class="clearfix"></div>

                      </div>


                      <div class="dd-section-half">
                        <div class="dd-section-hdr">
                          Equipment
                        </div>

                        <canvas id="lineSmall" class="chart chart-line"
                                height="64"
                                width="120"
                                padding-left= "1"
                                padding-right="1"
                                chart-data="data1"
                                chart-labels="labels1"
                                chart-series="series"
                                chart-options="options"
                        >
                        </canvas>

                      </div>

                    </div>



                    <div class="tab-pane" id='extra2'>
                      <br>
                      <br>
                      <div class = "dd-section-half" align="center">

                        <div class="dd-section-hdr">
                          Data 3
                        </div>

                        <div class="clearfix"></div>

                        <canvas id="bar" class="chart chart-bar" chart-data="barData" chart-labels="barLabels" chart-series="barSeries"></canvas>


                        <br>
                        <br>
                        <div class="clearfix"></div>
                        <br>
                        <div class="clearfix"></div>

                      </div>


                      <div class="dd-section-half">
                        <div class="dd-section-hdr">
                          Equipment
                        </div>

                        <canvas id="lineSmall" class="chart chart-line"
                                height="64"
                                width="120"
                                padding-left= "1"
                                padding-right="1"
                                chart-data="data1"
                                chart-labels="labels1"
                                chart-series="series"
                                chart-options="options"
                        >
                        </canvas>

                      </div>
                    </div>


                    <div class="tab-pane" id='extra3'>
                      <br>
                      <br>
                      <div class="dd-section-hdr">
                        Map
                      </div>
                      <div id="map"></div>
                    </div>
                      <br>
                      <br>


                    </div>


                  </div>

            </div>

            </div>









        <div class="dd-section">
          <div class="dd-section">
            <div class="dd-section-half">
              <div class="dd-section-hdr">
                Device Methods
              </div>

              <div class="dd-section-content">
                <!-- Details here-->
                <br>
                <button id="btnEdit" class ="btn btn-default" data-toggle="modal" data-target="#updatePane">Software Updates</button>
                <button id="btnHDC" class="btn btn-default" ng-click="gotoHDC()">HDC</button>
                <button id="btnConsole" class="btn btn-default" ng-click="gotoLaunch()">Remote Login</button>


                <br>
                <br>



                <br>
                <br>
              </div>



            </div>


            <div class="dd-section-half">
              <div class="dd-section-hdr">
                Device Configuration
              </div>

              <div class="dd-section-content">

                <br>  Thing Definition: {{device.defName}}
                <br> ID: {{device.id}}
                <br> Key: {{device.key}}
                <br><span>Last Seen: {{device.lastSeen}}</span>
                <br><span>Def. Key: {{device.defKey}}</span>
                <br>
                <br>
                <br>
              </div>
            </div>

          </div>
        </div>

<!-- End of main block-->

        </div>

      </div>
		</div>


		<!-- panel loading cover and animation -->
		<div class="loader" ng-class="{'loading':isLoading}"></div>



</div>




<div id = "updatePane" class ="modal fade" role = "dialog">
  <div class = "modal-md modal-dialog">
    <div class = "modal-content">
      <div class = "modal-header">
        <h4 class ="modal-title">Software Updates: {{device.name}}</h4>
      </div>

      <div class = "modal-body">
        <h2 class ="modal-title">Available Updates</h2>
        <br>


        <div ng-show="!currentUpdates">
          <div class="col-sm-2">
            <p class ="btn" style="color:black; font-weight:bold; display:inline-block" >{{device.softwareModules.available}} {{currentStatus}}</p>


          </div>
          <div class = "col-sm-10">
            <div class="text-right">
              <button type="button" class="btn btn-success" ng-click="firmwareUpdate2()" ng-disabled="deviceUpdating">Update</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="deviceUpdating">Cancel</button>
              <br>
            </div>
          </div>


        </div> <!-- END NG SHOW-->

        <div ng-show="currentUpdates">

          <div class="col-sm-2">
            <p class ="btn" style="color:black; font-weight:bold; display:inline-block" >No New Updates</p>
          </div>

        </div>





        <br>
        <br>
        <br>
        <br>
        <h2 class ="modal-title">Previous Updates</h2>
        <br>

        <div ng-show="!previousUpdates">

          <div class="col-sm-2">
            <p class ="btn" style="color:black; font-weight:bold; display:inline-block" >{{device.softwareModules.previous}} {{previousStatus}}</p>
          </div>

          <div class = "col-sm-10">

            <div class="text-right">
              <button type="button" class="btn btn-warning" ng-click="firmwareUpdate1()" ng-disabled="deviceUpdating">Rollback</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="deviceUpdating">Cancel</button>
              <br>
            </div>

          </div>
        </div> <!-- END NG SHOW-->

        <div ng-show="previousUpdates">

          <div class="col-sm-2">
            <p class ="btn" style="color:black; font-weight:bold; display:inline-block" >No Previous Updates Found</p>
          </div>

        </div>

      </div>

      <div class = "modal-footer">
        <!--<button type="button" class="btn btn-warning pull-left" ng-click="resetEverything()" data-dismiss="modal">Reset</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="deviceUpdating">Complete</button>
      </div>



    </div>





  </div>


</div>
