<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <style>

        h3{color:#FFFFFF;}
        p{color:#FFFFFF;}

      </style>



      <form class="form-horizontal" role="form">
        <div class="form-group">

          <label for="username" class="col-sm-2 control-label">
            <strong><p> Username: </p></strong>
          </label>
          <div class="col-sm-10">
            <input type = "text"  id = "username" ng-model="username"><br>
          </div>
        </div>
        <div class="form-group">

          <label for="password" class="col-sm-2 control-label">
            <strong><p> Password: </p></strong>
          </label>
          <div class="col-sm-10">
            <input type = "password"  id = "password" ng-model ="password"><br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button id="btnSubmit" class="btn btn-default"  ng-click="submitForm()"> Login </button>
             <button id="btntest" class="btn btn-default"  ng-click="testProxy()"> Proxy </button>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>
