<div class="app-devices-main" ng-class="{'device-open':deviceVisible()}">
		<div class="row" style="width: 1250px">
				<div class="app-column col-device-list">
					<div class="devices-panel">
						<div class="devices-panel-hdr">
								Devices
						</div>
						<div class="devices-list-main">
							<devices-list></devices-list>
						</div>
								<!--/.devices-list -->
					</div>
					<!-- /.device-panel -->
				</div>


      <div class="app-column col-location-map">
        <locations-map></locations-map>
      </div> <!--/.col-location-map -->


		</div>
</div>




<dashboard></dashboard>

<!--/.app-device-details -->
